*{margin:0;
    padding:0px;
    box-sizing:border-box;}

.card-container{
    margin: auto;
    text-align: center;

}
.card-row{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
   
}
.card-col{
    margin-bottom: 10px;
    padding:25px;
    border: 5px solid rgb(7, 7, 7);
    background-color: rgb(51, 238, 191);
}
img{
    width: 100%;
}
.card-title-head {
    font-size:50px;
    font-family: cursive;
    color: rgb(241, 16, 110);
}
